<!DOCTYPE html>
<html lang="en" data-ng-app="WalModule">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body data-ng-controller="UsuarioController as User">
    <div data-ng-controller="CursoController as Curso">

    <h1>{{ User.titulo }}</h1>

    <ul>
        <li data-ng-repeat="usuario in User.usuarios">
            {{ usuario.nome }} - {{ usuario.email }}
        </li>
    </ul>

    <h2>{{ Curso.titulo }}</h2>
        <ul>
            <li data-ng-repeat="curso in Curso.cursos">
                {{ curso.nome }} - {{ curso.professor }}
            </li>
        </ul>
    </div>

    

    <script src="../angular.min.js"></script>
    <script>
        angular.module("WalModule", [])
            .controller("UsuarioController", UserController)
            .controller("CursoController", CursoController);

            function UserController() {
                var vm = this;
                vm.titulo = "Lista de Erivi";
                vm.usuarios = [
                    {nome: 'Erividiane', email: 'erivi@email.com'},
                    {nome: 'silva', email: 'silva@email.com'},
                    {nome: 'costa', email: 'costa@email.com'},
                    {nome: 'santos', email: 'santos@email.com'},
                    {nome: 'espirito', email: 'espirito@email.com'}
                ];
            }


            function CursoController()    {
                var vm = this;
                vm.titulo = "Cursos";
                vm.cursos = [
                    {nome: 'JavaScript', professor: 'erivi'},
                    {nome: 'AngularJS', professor: 'Wal'},
                    {nome: 'Learning Machine', professor: 'evi'},
                    {nome: 'Java', professor: 'Alguem'},
                    {nome: 'PHP', professor: 'Outro Alguem'},
                   
                ];
            }
            

    </script>

    
</body>
</html>

